<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SWEN3004 Exercise 2</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    
    <script src="https://kit.fontawesome.com/238a67abd4.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <h1>Exercise 2</h1>
        <nav>
            <ul>
                <li>Home</li>
                <li>GET</li>
                <li>POST</li>
                <li>PUT</li>
                <li>DELETE</li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="view-task">
            <div class="left">
                <button id="view-all">View All</button>
                
                <form action="#" method="get">
                    <input type="number" name="task-id" id="task-id">
                    <button id="view-one">View Single</button>
                </form>
            </div>
            <div class="right">
                <div id="task"></div>
            </div>
        </section>

        <section class="add-task">
            <div class="left">
                <form action="#" method="post">
                    <label for="task-title-add">Title</label>
                    <input type="text" name="task-title-add" id="task-title-add">

                    <label for="task-desc-add">Description</label>
                    <input type="text" name="task-desc-add" id="task-desc-add">

                    <button id="add-one" type="button">Add</button>
                </form>
            </div>
            <div class="right">
                <h3>New Task</h3>
                <div id="new-task"></div>
            </div>
        </section>

        <section class="update-task">
            <form action="#">
                <label for="task-title">Title</label>
                <input type="text" name="task-title" id="task-title">

                <label for="task-desc">Description</label>
                <input type="text" name="task-desc" id="task-desc">

                <button id="update-one" type="button">Update</button>
            </form>
        </section>

        <section class="delete-task">
            <form action="#">
                <input type="number" name="task-id-delete" id="task-id-delete">
                <button id="delete-one" type="button">Delete</button>
            </form>
        </section>

        <script>
            // Driver function
            var driver = function(){
                console.log('load window');
                let b1 = document.getElementById("view-all");
                let b2 = document.getElementById("view-one");
                let b3 = document.getElementById("add-one");
                let b4 = document.getElementById("update-one");
                let b5 = document.getElementById("delete-one");

                b1.addEventListener("click", veiwAllTasks);
                b2.addEventListener("click", viewSpecificTask);
                b3.addEventListener("click", addSingleTask);
                b5.addEventListener("click", deleteSpecificTask);
            }

            // Functions for each route
            function veiwAllTasks() {
                fetch(`/todo/api/v1.0/tasks`, {
                    headers: {
                        method: 'GET'
                    }
                })
                .then(function (response) {
                    return response.json();
                }).then(function (jsonResponse) {
                    console.log('GET response:', jsonResponse);
                });
            }

            function viewSpecificTask(event) {
                event.preventDefault();

                let id = document.getElementById("task-id").value;

                fetch(`/todo/api/v1.0/tasks/${id}`, {
                    headers: {
                        method: 'GET',
                        headers: {
                            'Accept': 'application/json, text/plain, */*',
                            //'Content-Type': 'application/json'
                            "Content-Type": "application/x-www-form-urlencoded; charset=UTF-8" // otherwise $_POST is empty
                        }
                    }
                })
                .then(function (response) {
                    return response.json();
                }).then(function (jsonResponse) {
                    console.log('JSONresponse:', jsonResponse);
                    code = "<div class='single-task'><h3>" + jsonResponse['task']['title'] + "</h3><p>" + jsonResponse['task']['description'] + "</p></div>";

                    document.getElementById("task").innerHTML = code;
                });
            }

            function addSingleTask(event) {
                event.preventDefault();

                let task_title = document.getElementById("task-title-add").value;
                let task_desc = document.getElementById("task-desc-add").value;

                fetch(`/todo/api/v1.0/tasks`, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(
                        {
                            'title': task_title,
                            'description': task_desc
                        }
                    )
                })
                .then(function (response) {
                    return response.json();
                }).then(function (jsonResponse) {
                    console.log('GET response:', jsonResponse);

                    // Update the div
                });
            }

            function deleteSpecificTask(event) {
                event.preventDefault();
                let id = document.getElementById("task-id-delete").value;

                fetch(`/todo/api/v1.0/tasks/${id}`, {
                    headers: {
                        method: 'DELETE',
                        headers: {
                            'Content-Type': 'application/json'
                        }
                    }
                })
                .then(function (response) {
                    return response.json();
                }).then(function (jsonResponse) {
                    console.log('JSONresponse:', jsonResponse);
                });
            }

            // Runs this function on startup
            window.onload = driver;
        </script>
    </main>
    <footer></footer>
</body>
</html>